<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
        
        <div class="custdiv">
        <form>
            <h1>Signup</h1>
            <div >
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                <!-- <input type="text" class="form-control is-valid p-1" id="validationServer01" required> -->
            </div>
            <div >
                <p>Last Name</p>
                <input type="email" class="form-control is-valid p-1" required>
            </div>
            <div>
                <p>MobileNo</p>
                <input type="text" class="form-control p-1" required>
            </div>
            <div>
                <input type="radio" name="gender" value="male" > Male
                <input type="radio" name="gender" value="female">Female
            </div>
            <div>
                <p>Email</p>
                <input type="email" class="form-control p-1" required>
            </div>
            <div>
                <p>Password</p>
                <input type="password" class="form-control p-1" required>
            </div>
            <div>
                <p>Re-enter password</p>
                <input type="password" class="form-control p-1" required>
            </div>
            <div >
                <input type="checkbox" class="check" required/>I agree terms and conditions!
            </div>
            <input type="submit" class="btn-primary"><br><br>
        </form>
                         
    </div>

</div>

